.dashboard {
  display: flex;
  flex-direction: row;
  /* border: 1px solid gray; */
  /* background-color: #ECECEC; */
}
.user-profile {
  width: 25%;
  /* border: 1px solid green; */
}

.data-dashboard {
  width: 75%;
  /* border: 1px solid orange; */
  padding: 30px;
  justify-content: center;
  /* background-color: #ECECEC; */
}

.data-dashboard,
h1,
h3 {
  text-align: start;
  /* padding-left: 30px; */
}
.summarize-sleep-cal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}
.data-sleep,
.data-calories {
  width: 45%;
  /* border: 1px solid rgb(52, 4, 246); */
}

.data-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* column-gap: 16px; */
  padding: 16px;
  /* width: 100%; */
  /* border: 1px solid rgb(52, 4, 246); */
}

.bar-chart-activity-duration,
.pie-chart-activity-type {
  height: 300px;
  /* border: 1px solid rgb(4, 242, 246); */
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .user-profile {
    display: none;
  }
  .data-dashboard {
    width: 100%;
  }
  .summarize-sleep-cal,
  .data-chart {
    flex-direction: column;
    justify-content: space-around;
  }

  .data-sleep,
  .data-calories,
  .bar-chart-activity-duration,
  .pie-chart-activity-type {
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }

  h1,
  h3 {
    padding-left: 0px;
  }
}
